<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tempus.proyectos.tempusx">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="tempusX"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <receiver android:name=".BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".ActivityPrincipal"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityMenu"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityComunicacion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivitySistema"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityExportar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityHistorial"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityFechaHora"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityBiometria"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivitySincronizacion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityProduccion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivitySuperadmin"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityActualizar"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityConfigini"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityUsuario"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityGeomano"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>