<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tempus.proyectos.tempusx">
    <uses-sdk android:minSdkVersion="12" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.SHUTDOWN"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.usb.accessory"/>
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="tempusX"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">

        <!--
        <receiver android:name=".BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".ActivityPrincipal"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_DETACHED"/>
            </intent-filter>
            <!--filter para que android notifique cuando se conecta un dispositivo USB compatible -->
            <!--
            <intent-filter>

            </intent-filter>
            -->
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter"/>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityMenu"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityComunicacion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivitySistema"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityExportar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityHistorial"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityFechaHora"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityBiometria"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivitySincronizacion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityProduccion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivitySuperadmin"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityActualizar"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityConfigini"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityUsuario"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityGeomano"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ActivityEnergia"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>